<header th:fragment="header" class="header-fragment"> <!-- Thêm class cho fragment -->
    <nav class="header-nav"> <!-- Thêm class cho nav -->
        <ul class="header-menu">
            <li><a th:href="@{/home}">Room</a></li>
            <li><a th:href="@{/incident/list}">Incidents</a></li>
            <li><a th:href="@{/employees}">Technician</a></li>
        </ul>
        <div class="header-user-info">
            <span th:text="${#authentication.name}">Tên Người Dùng</span>
            <span th:text="'(' + ${#authentication.principal.authorities[0].authority} + ')'"> (Role) </span>
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="header-logout-button">Logout</button>
            </form>
        </div>
    </nav>
</header>