<header th:fragment="header" class="header-fragment" xmlns:sec="http://www.w3.org/1999/xhtml"> <!-- Thêm class cho fragment -->
    <nav class="header-nav"> <!-- Thêm class cho nav -->
        <ul class="header-menu">
            <li class="dropdown"> <!-- Thêm class dropdown -->
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Phòng</span>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/home}">Danh sách Phòng</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/room/createRoomForm}">Thêm Phòng</a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/incident/list}">Sự Cố</a></li>
            <li><a th:href="@{/employees}">Kỹ Thuật Viên</a></li>
        </ul>
        <div class="header-user-info">
            <span th:text="${#authentication.name}">Tên Người Dùng</span>
            <span th:text="'(' + ${#authentication.principal.authorities[0].authority} + ')'"> (Role) </span>
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="header-logout-button">Đăng Xuất</button>
            </form>
        </div>
    </nav>
</header>