<header th:fragment="header" class="header-fragment" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="header-nav">
        <ul class="header-menu">
            <li class="header-logo">
                <a th:href="@{/home}">
                    <img src="/images/logo.png" alt="Logo" class="logo-img">
                </a>
            </li>
            <li class="dropdown">
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Phòng</span>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/home}">Danh sách Phòng</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/room/createRoomForm}">Thêm Phòng</a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/incident/list}">Sự Cố</a></li>
            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Kỹ thuật viên</span>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/technician/create}">Thêm kỹ thuật viên</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Giảng viên</span>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/lecturer/create}">Thêm giảng viên</a></li>
                </ul>
            </li>
        </ul>
        <div class="header-user-info">
            <span th:text="${#authentication.name}">Tên Người Dùng</span>
            <span th:text="'(' + ${#authentication.principal.authorities[0].authority} + ')'"> (Role) </span>
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="header-logout-button">Đăng Xuất</button>
            </form>
        </div>
    </nav>
</header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">