<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết Máy Tính</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        @media (min-width: 1200px) {
            .custom-width {
                flex: 0 0 25%; /* 100% / 4 phần tử = 25% */
                max-width: 25%;
            }
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <h1 class="text-center" th:text="${computer.name}">Chi tiết Máy Tính</h1>
    <div class="status-legend" style="display: flex; padding: 15px">
        <p style="padding: 15px"><span class="status-badge yellow-border"></span>Chưa xử lý</p>
        <p style="padding: 15px"><span class="status-badge blue-border"></span>Đang xử lý</p>
        <p style="padding: 15px"><span class="status-badge red-border-background"></span>Quá hạn chưa xử lý</p>
        <p style="padding: 15px"><span class="status-badge red-border"></span>Đã xử lý nhưng quá hạn</p>
        <p style="padding: 15px"><span class="status-badge green-border"></span>Đã xử lý</p>
    </div>

    <div class="row">
        <!-- Cột bên trái chứa danh sách Thiết Bị và Phần Mềm -->
        <!-- Cột bên trái chứa danh sách Thiết Bị và Phần Mềm -->
        <div class="col-md-8">
            <h2>Danh sách Thiết Bị</h2>
            <div th:if="${deviceDtoList == null || deviceDtoList.isEmpty()}" class="col-12">
                <p class="text-center text-muted">Không có thiết bị.</p>
            </div>
            <div class="row mt-4">
                <div th:each="device : ${deviceDtoList}" class="col-md-6 custom-width"> <!-- Thêm class custom-width -->
                    <div th:class="'device-card ' + (${device.status == 1} ? 'normal' : 'error')">
                        <a th:href="@{/incident/device/{deviceId}/{computerId}(deviceId=${device.id}, computerId=${device.computerId})}" class="software-link">
                            <div class="title" th:text="${device.name}">Tên Thiết Bị</div>
<!--                            <p><strong>Trạng thái:</strong>-->
<!--                                <span th:text="${device.status == 1} ? 'Bình thường' : 'Lỗi'">Trạng thái</span>-->
<!--                            </p>-->
<!--                            <p><strong>Mã:</strong>-->
<!--                                <span th:text="${device.deviceCode}">Mã</span>-->
<!--                            </p>-->
                        </a>
                    </div>
                </div>
            </div>

            <h2>Danh sách Phần Mềm</h2>
            <div th:if="${softWareDtoList == null || softWareDtoList.isEmpty()}" class="col-12">
                <p class="text-center text-muted">Không có phần mềm.</p>
            </div>
            <div class="row mt-4">
                <div th:each="software : ${softWareDtoList}" class="col-md-6 custom-width"> <!-- Thêm class custom-width -->
                    <div th:class="'software-card ' + (${software.status == 1} ? 'normal' : 'error')">
                        <a th:href="@{/incident/software/{softwareId}/{computerId}(softwareId=${software.id}, computerId=${software.computerId})}" class="software-link">
                            <div class="title" th:text="${software.name}">Tên Phần Mềm</div>
<!--                            <p><strong>Phiên bản:</strong> <span th:text="${software.version}">Phiên bản</span></p>-->
<!--                            <p>-->
<!--                                <strong>Thời gian cài đặt:</strong>-->
<!--                                <span th:text="${#temporals.format(software.setupTime, 'dd/MM/yyyy HH:mm')}">Thời gian</span>-->
<!--                            </p>-->
<!--                            <p><strong>Trạng thái:</strong>-->
<!--                                <span th:text="${software.status == 1} ? 'Hoạt động' : 'Không hoạt động'">Trạng thái</span>-->
<!--                            </p>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Cột bên phải chứa danh sách Sự Cố -->
        <div class="col-md-4">
            <h2>Danh sách Sự Cố</h2>
            <div th:if="${incidentDtoListByStatus == null || incidentDtoListByStatus.isEmpty()}" class="col-12">
                <p class="text-center text-muted">Không có sự cố.</p>
            </div>
            <button th:onclick="|window.location.href='/incident/computer/add?computerId=' + getComputerIdFromUrl()|"
                    class="btn btn-primary">
                Báo cáo lỗi
            </button>
            <a th:href="@{/incident/update/{id}(id=${incident.id})}" class="incident-link" 
               th:each="incident : ${incidentDtoListByStatus}">
                <div th:class="'incident-card mt-3 ' +
                   (${incident.status} == 1 ? 'yellow-border' :
                   (${incident.status} == 2 ? 'blue-border' :
                   (${incident.status} == 3 ? 'green-border' :
                   (${incident.status} == 4 ? 'red-border-background' :
                   (${incident.status} == 5 ? 'red-border' : 'status-class-default')))))">
                    <div class="title" th:text="${incident.description}">Mô tả Sự Cố</div>
                    <p><strong>Ngày báo cáo:</strong>
                        <span th:text="${#temporals.format(incident.reportDate, 'dd/MM/yyyy HH:mm')}"></span>
                    </p>
                    <p><strong>Ngày hoàn thành mong muốn:</strong>
                        <span th:text="${#temporals.format(incident.expectCompleteDate, 'dd/MM/yyyy HH:mm')}"></span>
                    </p>
                    <p><strong>Kỹ thuật viên:</strong>
                        <span th:text="${incident.technicianDto.userDto.name}">Kỹ thuật viên</span>
                    </p>
                    <p th:if="${incident.computerDeviceId > 0}">
                        <strong>Thiết bị:</strong>
                        <span th:text="${incident.computerDeviceDto.getType()}"></span>
                    </p>
                    <p th:if="${incident.computerSoftwareId > 0}">
                        <strong>Phần mềm:</strong>
                        <span th:text="${incident.computerSoftwareDto.name}"></span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function getComputerIdFromUrl() {
        const url = window.location.href;
        const match = url.match(/\/computer\/(\d+)/);
        return match ? match[1] : null;
    }
</script>
</body>
</html>
