<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Phòng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <h1 class="text-center">Danh sách Phòng theo Địa điểm</h1>

    <div th:each="location : ${locations}" class="mt-4">
        <h2 th:text="${location.name}">Tên Địa điểm</h2>
        <div class="row">
            <div th:each="room : ${roomsByLocation.get(location)}" class="col-md-3">
                <a th:href="@{'/room/' + ${room.id}}" class="room-link">
                    <div class="room-card">
                        <div class="room-title" th:text="${room.name}">Tên Phòng</div>
                        <p><strong>Loại Phòng:</strong> <span th:text="${room.roomTypeDto.name}">MEDIUM</span></p>
                        <p><strong>Số lượng máy:</strong> <span th:text="${room.roomTypeDto.capacity}">20</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
