<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Phòng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        @media (min-width: 1200px) {
            .custom-width {
                flex: 0 0 16.6667%; /* 100% / 6 phần tử */
                max-width: 16.6667%;
            }
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <h1 class="text-center">Danh sách Phòng theo Địa điểm</h1>
    <div th:replace="~{fragments/description :: description}"></div>

    <div th:each="location : ${locations}" class="mt-4">
        <h2 th:text="${location.name}">Tên Địa điểm</h2>
        <div class="row">
            <div th:each="room : ${roomsByLocation.get(location)}" class="custom-width" style="padding-left: 15px; padding-right: 15px">
                <div class="room-card position-relative">
                    <div class="admin-actions position-absolute" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                         style="top: 10px; right: 10px;">
                        <div class="tooltip-container">
                            <a th:href="@{'/room/updateRoomForm/' + ${room.id}}" class="btn-update">
                                <span class="tooltip">Cập nhật</span>
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="tooltip-container">
                            <form th:action="@{/room/delete/{roomId}(roomId=${room.id})}" method="post" style="display: inline;">
                                <button type="submit" class="btn-delete" onclick="return confirm('Bạn có chắc chắn muốn xóa phòng này?')">
                                    <span class="tooltip">Xóa</span>
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <a th:href="@{'/room/' + ${room.id}}" class="room-link">
                        <div th:class="'room-card ' +
                                    (${room.status} == 1 ? 'normal' :
                                    (${room.status} == 2 ? 'error' :
                                    (${room.status} == 3 ? 'empty' : 'unknown')))">
                            <div class="room-title" th:text="${room.name}">Tên Phòng</div>
<!--                            <p><strong>Loại Phòng:</strong> <span th:text="${room.roomTypeDto.name}">MEDIUM</span></p>-->
                            <p><strong>Số lượng máy:</strong> <span th:text="${room.actualQuantity}">20</span></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
