<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Sự Cố</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <h1 class="text-center">Danh sách Sự Cố</h1>

    <div class="row">
        <div class="col-md-2 mb-4" th:each="incident : ${incidentDtoList}">
            <div class="incident-card h-100">
                <div class="incident-title" th:text="${incident.description}">Tiêu Đề Sự Cố</div>
                <p>
                    <strong>Người Báo Cáo:</strong>
                    <span th:text="${incident.reportUserName}">Tên Người Báo Cáo</span>
                </p>
                <p>
                    <strong>Trạng Thái:</strong>
                    <span th:class="${incident.status == 1 ? 'status-unprocessed' : 'status-processing'}"
                          th:text="${incident.status == 1 ? 'Chưa xử lý' : 'Đang xử lý'}">TRẠNG THÁI</span>
                </p>
                <p>
                    <strong>Ngày Báo Cáo:</strong>
                    <span th:text="${#temporals.format(incident.reportDate, 'yyyy-MM-dd HH:mm')}">Ngày Báo Cáo</span>
                </p>

            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
