<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật Máy tính</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container mt-5">
    <div th:if="${param.error}">
        <div class="alert alert-danger">Cập nhật máy tính thất bại</div>
    </div>

    <h2 class="text-center mb-4">Cập nhật Máy tính</h2>
    <form th:action="@{/computer/update}" th:object="${computerDto}" method="post">
        <input type="hidden" name="id" th:value="${computerDto.id}">
        <!-- ID phòng (ẩn) -->
        <input type="hidden" id="roomId" name="roomId" th:value="${computerDto.roomId}">

        <!-- Nhập tên máy tính -->
        <div class="form-group">
            <label for="name">Tên Máy Tính</label>
            <input type="text" id="name" class="form-control" placeholder="Nhập tên máy" required th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>

        <!-- Chọn trạng thái máy tính -->
        <div class="form-group">
            <label for="status">Trạng thái</label>
            <select id="status" class="form-control" required th:field="*{status}">
                <option value="1" th:selected="${computerDto.status == 1}">Bình thường</option>
                <option value="2" th:selected="${computerDto.status == 2}">Lỗi</option>
            </select>
        </div>

        <!-- Chọn thiết bị -->
        <h5>Chọn Thiết Bị</h5>

        <div class="form-group">
            <label for="keyboard">Bàn phím</label>
            <select id="keyboard" name="deviceIdList[0]" class="form-control" required>
                <option th:each="device : ${deviceDtoList}" th:if="${device.type == 1}"
                        th:value="${device.id}" th:text="${device.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="mouse">Chuột</label>
            <select id="mouse" name="deviceIdList[1]" class="form-control" required>
                <option th:each="device : ${deviceDtoList}" th:if="${device.type == 2}"
                        th:value="${device.id}" th:text="${device.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="monitor">Màn hình</label>
            <select id="monitor" name="deviceIdList[2]" class="form-control" required>
                <option th:each="device : ${deviceDtoList}" th:if="${device.type == 3}"
                        th:value="${device.id}" th:text="${device.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="cpu">Thùng máy</label>
            <select id="cpu" name="deviceIdList[3]" class="form-control" required>
                <option th:each="device : ${deviceDtoList}" th:if="${device.type == 4}"
                        th:value="${device.id}" th:text="${device.name}"></option>
            </select>
        </div>

        <!-- Chọn phần mềm -->
        <div class="form-group">
            <label for="software">Phần mềm:</label>
            <select id="software" name="softWareIdList" class="form-control" multiple>
                <option th:each="software : ${softWareDtoList}"
                        th:value="${software.id}"
                        th:text="${software.name}"></option>
            </select>
        </div>

        <!-- Nút submit -->
        <button type="submit" class="btn btn-primary">Cập Nhật</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
